/* 



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.sound-wave {
  display: none;
}


.mic {
  display: none;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

 */


 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

